#root {
  position: relative;
  height: 100%;
}

.settings-button {
  position: absolute;
  top: 8px;
  right: 4px;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 32px;
  background-color: var(--orange);
  z-index: 2;
}

.settings-button img {
  width: 24px;
  transform: translate(-0.8px, -1px);
}

main {
  height: 100%;
}

.game-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.spinner {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 5px solid var(--orange);
  margin: 32px auto;
  animation: spinner-one 1s infinite linear alternate,
    spinner-two 2s infinite linear;
}