.modal-backdrop {
  position: absolute;
  background-color: #00000088;
  width: 100%;
  height: 100%;
  z-index: 998;
  animation: fadeIn 0.2s ease-out;
}


.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 300px;
  transform: translate(-50%, -70%);
  background-color: var(--prussian-blue);
  color: var(--white);
  padding: 16px;
  border: 2px solid var(--orange);
  border-radius: 16px;
  z-index: 999;
  animation: slideIn 0.4s ease-out;
}

.modal h1,
.modal h2 {
  margin: 0;
  text-align: center;
}

.modal form {
  display: grid;
  margin-top: 16px;
  padding: 0 8px;
  row-gap: 16px;
}

.modal-buttons {
  display: flex;
  margin: 0 auto;
}

.modal-buttons button {
  background-color: var(--orange);
  color: var(--black);
  font-weight: 800;
  height: 44px;
  padding: 8px 24px;
}

.submit-button {
  border-radius: 24px 0 0 24px;
}

.cancel-button {
  border-radius: 0 24px 24px 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-50%, -90%);

  }

  to {
    opacity: 1;
    transform: translate(-50%, -70%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}