.difficulty-choice-container {
  position: relative;
}

.info {
  position: absolute;
  top: 5px;
  right: 48px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--orange);
  border-radius: 16px;
}
.info p {
  font-style: italic;
  text-align: center;
  line-height: 1.2;
  cursor: default;
}
.difficulty-radio-wrapper {
  display: grid;
  margin: 16px 24px 0;
  gap: 8px;

}

.radio-container {
  position: relative;
  display: flex;
  height: 32px;
}

.custom-radio-wrapper {
  position: absolute;
  inset: 0;
  width: 32px;
  border: 2px solid var(--orange);
  border-radius: 16px;
}

.custom-radio-checkmark {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 16px;
  animation: bounce 0.4s ease forwards;
}

.radio-container input{
  opacity: 0;
  width: 32px;
  height: 32px;
}

.radio-container label {
  margin: auto auto auto 12px;
}