.game-nav {
  position: relative;
  padding: 12px 36px;
  background-color: var(--prussian-blue);
  color: var(--white);
  z-index: 1;
  box-shadow: 0 0 10px 0px #00000088;
}

.score-container {
  display: flex;
  justify-content: center;
  column-gap: 48px;
}

.current-score,
.high-score {
  flex: 0 1 170px;
  text-align: center;
}

.label {
  display: grid;
  align-items: center;
  font-weight: 600;
  height: 38px;
}

.score-container h1 {
  margin: 0;
  font-weight: 600;
}

.buttons-container {
  position: absolute;
  display: grid;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--orange);
  border-radius: 24px;
}

.buttons-container button {
  flex: 1;
  padding: 0;
  background-color: var(--orange);

}

.shuffle-button {
  border-radius: 0 0 24px 24px;
}

.reset-button {
  border-radius: 24px 24px 0 0;
}


.reset-button img {
  width: 38px;
  /* filter: invert(70%) sepia(41%) saturate(2399%) hue-rotate(351deg) brightness(101%) contrast(98%); */
  /* filter: invert(1); */
}

.shuffle-button img {
  width: 32px;
}